@media (min-width: 2001px) {
  .slider p:nth-child(1) {
    position: inherit;
    left: 6%;
  }

  .slider p:nth-child(2) {
    position: inherit;
    left: 32%;
  }

  .slider p:nth-child(3) {
    position: inherit;
    left: 58%;
  }

  .slider p:nth-child(4) {
    position: inherit;
    left: 82%;
  }
}

@media (min-width: 1px) and (max-width: 2000px) {
  .slider p:nth-child(1) {
    position: inherit;
    left: 9%;
  }
  
  .slider p:nth-child(2) {
    position: inherit;
    left: 34%;
  }
  
  .slider p:nth-child(3) {
    position: inherit;
    left: 60%;
  }
  
  .slider p:nth-child(4) {
    position: inherit;
    left: 84%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#home-btn {
  position: fixed;
  transform: scale(1.25);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: none;
  bottom: 20px;
  right: 20px;
}

#home-btn:hover {
  cursor: pointer;
}

section {
  margin: 0;
  padding: 0;
  transition: all 1s ease-out
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

img {
  width: 100%;
  height: 100vh;
}

.header-image {
  margin: 0;
  padding: 0;
}

.info {
  top: 22%;
  /* border: 2px solid red; */
  left: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 2;
  width: 488px;
  height: 675px;
  color: white;
}

.info h1 {
  font-size: 50px;
  position: absolute;
  padding: 0.3rem;
  left: 10px;
  border-left: 4px solid red;
}

.info h6 {
  position: absolute;
  font-size: 15px;
  top: 75px;
  left: 24px;
}

.info p {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  line-height: 2;
  top: 370px;
  left: 20px;
}



.btn-resume {
  position: absolute;
  top: 78%;
  left: 10px;
  width: 120px;
  height: 30px;
  border-radius: 60px;
  border-color: red;
}

.btn-resume:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.about-me-icon {
  z-index: 2;
  width: 400px;
  height: auto;
  top: 35%;
  right: 20%;
  position: absolute;
}

.about-me-img {
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.section-1 {
  position: relative;
}

.header-div {
  position: relative;
}

.section--2 {
  position: relative;
}

.section--3 {
  position: relative;
}

.section--4 {
  position: relative;
}

.project-info {
  width: 200px;
  height: 200px;
}

#section--2 {
  height: 100vh;
}


.section--2 p {
  position: absolute;
  top: 120px;
  color: black;
  font-weight: 700;
  font-size: 17px;
}

.project--description-1 {
  top: 0%;
  left: 34px;
  white-space: nowrap;
}

.project--description-2 {
  white-space: nowrap;
  left: 10%;
}

.project--description-3 {
  white-space: nowrap;
  left: 6%;
}

.project-preview {
  width: 250px;
  height: 230px;
  position: absolute;
  top: 30%;
  padding-right: 4px;
  border-radius: 25px;
  background-image: linear-gradient(35deg, white, black);
  transition: all 0.5s ease-out
  /* background-color: white; */
}

.preview--1 {
  left: 20%;
}

.preview--2 {
  left: 45%;
}

.preview--3 {
  left: 70%;
}

.project--1, .project--2, .project--3 {
  width: 100%;
  size: fill;
  height: 100%;
  border-radius: 25px;
  z-index: -1;
}

.project-preview:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.preview--link {
  position: absolute;
}

.link-one {
  left: 23%;
  top: 70%;
}

.link-one button:hover, .link-two button:hover, .link-three button:hover {
  cursor: pointer;
}

.link-one button, .link-two button, .link-three button {
  height: 35px;
  width: 160px;
  border-radius: 17px;
}

.link-two {
  left: 48%;
  top: 70%;
}

.link-three {
  left: 73%;
  top: 70%;
}

.section--2-img, .section--3-img, .section--4-img {
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section--4-img {
  opacity: 0.3;
}

.section--2-img {
  height: 100vh;
}

.section--3-img {
  height: 100%;
}

.section--4-img {
  height: 100%;
}

.contact {
  position: absolute;
  width: 275px;
  padding-left: 1rem;
  height: 160px;
  top: 13%;
  left: 0%;
}

.contact h1 {
  font-size: 50px;
  color: white;
  border-left: 4px solid red;
  padding-left: 1rem;
}

.section--4 a {
  /* display: inline; */
  bottom: 15%;
}

.contact-links {
  position: absolute;
  width: 800px;
  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 70%;
  left: 21%;
  padding: 2rem;
}

.facebook {
  background-color: transparent;
  border: none;
  width: 45px;
  height: 50px;
}

.fa-linkedin-square:hover, .fa-github:hover, .fa-facebook {
  cursor: pointer;
}

.fa-linkedin-square {
  transform: scale(2.5);
  color: blue;
}

.fa-github {
  transform: scale(2.5);
}

.fa-facebook {
  transform: scale(3);
  color: blue;
}

.connect {
  position: absolute;
  top: 65%;
  left: 42%;
  color: white;
  font-weight: bold;
  font-size: 33px;
}


.div-nav {
  background-color: rgba(255,255,255,0.15);
  position: absolute;
  top: 20%;
  left: 7%;
  height: 500px;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  opacity: 1;
  border-radius: 80px;
}

.contact-info {
  height: 300px;
}

.phone, .email {
  transition: all 0.5s ease-out
}


.phone:hover, .email:hover {
  transform: scale(1.1)
}

.btn-phone, .btn-email {
  background-color: transparent;
  border: none;
  transform: scale(3.5);
  position: absolute;
  top: 20%;
  left: 48%;
}


.phone-num, .email-info {
  font-size: 18px;
  color: white;
  left: 33%;
  padding-top: 4rem;
  font-weight: bold;
  top: 55%;
  position: absolute;
  border-top: 2px dashed black;
}

.email-info {
  left: 13%;
}

.phone {
  left: 27%;
}

.email {
  left: 58%;
}

#one, #two, #three, #four {
  color: white;
}

#one:hover, #two:hover, #three:hover, #four:hover {
  color: red;
}

.name {
  position: absolute;
  right: -100%;
  top: 42%;
  width: 500px;
  height: 340px;
  color: white;
}

.name.slide-in-right {
  animation: slideInRight 1s forwards;
}

.name h1:nth-child(1) {
  font-size: 50px;
  position: absolute;
  left: 40px;
  top: 55px;
}

.name h1:nth-child(2) {
  font-size: 50px;
  position: absolute;
  left: 115px;
  top: 137px;
}

.skills-info {
  position: absolute;
  padding: 1rem;
  width: 500px;
  height: 100px;
  left: 0%;
  top: 15%;
}

.logo {
  position: absolute;
  /* border: 2px solid red; */
  width: 250px;
  height: 200px;
  top: 30%;
  padding-right: 1rem;
}

.logo-js {
  left: 1%;
  padding-top: 0.6rem;
}

.logo-html {
  left: 28%;
  padding-top: 1rem;
  padding-left: 2.2rem;
}

.logo-css {
  left: 55%;
  padding-top: 1rem;
}

.logo-react {
  left: 79%;
  padding-top: 1rem;
}

.js {
  width: auto;
  height: 180px;
}

.html {
  width: auto;
  height: 165px;
}

.css {
  width: auto;
  height: 170px;
}

.react {
  width: auto;
  height: 170px;
}

.slider {
  display: flex;
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: white;
  border-radius: 6px;
  left: 0%;
  top: 60%;
}

.slider p {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
}

.slider p:hover {
  cursor: pointer;
}

.skills-info h1 {
  padding-left: 0.5rem;
  white-space: nowrap;
  color: white;
  font-size: 50px;
  font-weight: bold;
  border-left: 4px solid red;
}

.div-nav ul {
  list-style: none;
  flex-grow: 1;
}

.div-nav li {
  padding: 45px;
  color: black;
}

.nav-link {
  color: black;
}

.div-nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.header-title {
  position: absolute;
  top: 8%;
  left: -100%;
  color: white;
  font-size: 50px;
}

.header-title.slide-in-left {
  animation: slideInLeft 1s forwards
}

span {
  color: red;
}

span:hover {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

@keyframes slideInLeft {
  to {
    left: 5%;
  }
}

@keyframes slideInRight {
  to {
    right: 30%;
  }
}

